/images
/left_camera_0.5_brightened_04.0_20231018T2013_cameras.xml
/left_camera_0.5_brightened_04.0_20231018T2013_model_local.ply
/left_camera_0.5_brightened_04.0_20231018T2013_model_local_transform.csv
/left_camera_0.5_brightened_04.0_20231018T2013_report.pdf
/gascola.geojson
