/images.zip
/composite_georef_low_res_20230928T1637_dsm.tif
/composite_georef_low_res_20230928T1637_dtm.tif
/composite_georef_low_res_20230928T1637_report.pdf
/composite_georef_low_res_20230928T1604_model_georeferenced.ply
/composite_georef_low_res_20230928T1604_model_local.ply
/composite_20230520T0519_crowns.gpkg
